#Sbody{
    height: inherit;
    padding: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    background-position: top left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 4;
}


#SignUpClose{
    position: absolute;
    top: 100px;
    left: 820px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    border:none;
}

.main_container{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0);
    height: 620px;
    width: 400px;
    display: grid;
    grid-template-rows: 10%;
    border-radius: 10px;
}

#log{
    /* background-color: green ; */
    color: rgb(97, 0, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 80px;
}

.container{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    /* background-color: yellow; */
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

input{
    width: 300px;
    background-color: rgba(247, 247, 247, 0.418);
    height: 35px;
    border: none;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid rgb(184, 184, 184);
    box-shadow: 0px 0px 3px rgba(177, 177, 177, 0.418);
}
.label{
    width: 300px;
    padding-bottom: 10px;
}

.label::before{
    content: "*";
    color: red;
}

#pCont,#p2Cont{
    display: flex;
    flex-direction: row;
}
#pass,#pass2{
    width: 260px;
}
#show,#show2{
    width: 40px;
    height: 35px;
    background-color: rgba(247, 247, 247, 0.418);
    padding-top: 10px;
    padding-left: 13px;
    box-shadow: 0px 0px 3px rgba(177, 177, 177, 0.418);
    border-bottom: 2px solid rgb(184, 184, 184);
    cursor: pointer;
}
#pwdVisibility,#pwd2Visibility{
    width: 15px;
    height: 15px;
    opacity: 0.3;
}
.submitIn{
    height: 35px;
    /* margin: 20px; */
    width: 90px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
    margin: 5px;
    background-image: linear-gradient(45deg,rgb(66, 20, 66),rgb(194, 89, 106),rgb(104, 2, 104));
}
.submitDim{
    height: 35px;
    /* margin: 20px; */
    width: 90px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    margin: 5px;
    background-image: linear-gradient(45deg,rgb(248, 199, 248),rgb(255, 213, 220),rgb(255, 176, 255));
}
#nErCont,#uErCont,#eErCont,#pErCont,#p2ErCont,#terrorCont{
    display: flex;
    /* align-items: center; */
    width: 300px;
    height: 15px;
    background-color: white;
    color: red;
    font-size: 13px;
    /* padding-top: 3px; */
}
.checkBoxCont{
    width: 300px;
    display: flex;
    align-items: center;
}
.checkBoxCont>section{
    display: flex;
    font-size: 15px;
    align-items: center;
    /* padding-top: 10px; */

}
#checkBox{
    height: 15px;
    width: 15px;
    margin-right: 15px;
}

#LogIcon{
    width:60px;
    height: 40px;
    padding-right: 20px;
}
/* *-------------------invalid input box color change---- */

.email1Box,.passBox,.pass2Box,.userBox,.nameBox{
    border: 1px solid red;
    border-radius: 3px;
}

