*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(14, 80, 71);
}
h1{
    font-size: 40px;
    /* background-color: red; */
}
.main_container{
    background-color: rgb(108, 224, 180);
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
.form{
    /* background-color: red; */
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#pass,#email{
    width: 250px;
    height: 30px;
    /* margin-bottom:20px ; */
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(9, 118, 161);
    padding: 10px;
}

#submit{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: rgb(213, 255, 241);
    font-weight: bold;
    background-color: rgb(14, 80, 71);
}
#submit:hover{
    background-color: rgb(213, 255, 241);
    color: rgb(14, 80, 71);
}
p{
    font-size: 15px;
    display: block;
    background-color: white;
    border-radius: 5px;
    color: red;
    border-bottom: 1px solid red;
}